@import url("https://uilight.netlify.app/main.css");

:root {
  --bg-color:  #f6f9fc; 
  --primary-color: #2596be;
   --secondary-color: #be4b25 ; 
  --accent-color: #be4b25 ; 
  --text-color-primary: #363030; 
  --green-badge: #03dac6; 
}
* {
  font-family: "Poppins", sans-serif;
}



body {
  background-color: var(--bg-color);
  overflow: hidden;
}